.leaflet-button {
    background-color: #FFF;
    padding: 6px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    color: black;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    border: 0px;
}

.leaflet-button:hover {
    background-color: #EEE;
    color: black;
}

.leaflet-button:focus {
    background-color: #FFF;
}