.leaflet-button {
    background-color: #FFF;
    padding: 6px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    color: black;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    border: 0;
}

.leaflet-button:hover {
    background-color: #EEE;
    color: black;
}

.leaflet-button:focus {
    background-color: #FFF;
}

.leaflet-button-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

.leaflet-button-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
}

.leaflet-shadow {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

Input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}